﻿

@{
    ViewBag.Title = "Order List";
    ViewBag.ModuleName = "Transaction";
}

<div class="col-md-12">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Order List </h3>
        </div>
        <div class="box-body">
            <div id="gridview" style="">
            </div>
        </div>
        <div class="box-footer">
            <button type="button" class="btn btn-primary" onclick="refresh()"><span class="fa fa-refresh"></span> Refresh</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    var gridview;
    $(function () {
        gridview = $('#gridview').gridView({
            url: "@Url.Action("Paging", "Orders")",
            columns: [
                {
                    header: '', data: 'OrderID', render: function (data) {
                        return ''.concat('<a href="#" onclick="showModal(' + data +')"><span class="fa fa-search"></span></a>',
                                '<a href="#" style="color: green; margin-left: 6px;"><span class="fa fa-edit"></span></a>',
                                '<a href= "#" style= "color: red; margin-left: 6px;" ><span class="fa fa-trash"></span></a >');
                    }
                },
                { header: 'Order ID', data: 'OrderID', sortable: true },
                { header: 'Company Name', data: 'CustomerName', sortable: true },
                { header: 'Employee Name', data: 'EmployeeName', sortable: true },
                { header: 'Order Date', data: 'OrderDate', sortable: true },
                { header: 'Required Date', data: 'RequiredDate', sortable: true },
                { header: 'Freight', data: 'Freight', sortable: true, type: 'numeric' },
                { header: 'Ship Name', data: 'ShipName', sortable: true },
                { header: 'Ship Address', data: 'ShipAddress', sortable: true },
                { header: 'Ship City', data: 'ShipCity', sortable: true },
                { header: 'Ship Country', data: 'ShipCountry', sortable: true }
            ],
            defaultSortExpression: 'OrderID'
        });
    });

    function showModal(data) {
        alert('You click '+data);
    }

    function refresh() {
        //gridview.reload(); 
    }
</script>



