﻿
@{
    ViewBag.Title = "Supplier List";
    ViewBag.ModuleName = "Employees";
}

<div class="col-md-12">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Dashboard </h3>
        </div>
        <div class="box-body">
            <div id="gridview" style="text-align: justify;"> 
            </div>
        </div>
        <div class="box-footer">
            <button type="button" class="btn btn-primary" onclick="refresh()"><span class="fa fa-refresh"></span> Refresh</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    var gridview;
    $(function () {
        gridview = $('#gridview').gridView({
            url: "@Url.Action("Paging", "Employees")",
            width: "auto",
            columns: [
                {
                    header: '', data: 'EmployeeID', render: function (data) {
                        return '<a href="#" onclick="showModal(\'' + data +'\')"><span class="fa fa-search"></span></a>\
                                <a href="#" style="color: green; margin-left: 6px;"><span class="fa fa-edit"></span></a>\
                                <a href= "#" style= "color: red; margin-left: 6px;" ><span class="fa fa-trash"></span></a > ';
                    }
                },
                { header: 'Employee ID', data: 'EmployeeID', sortable: true },
                { header: 'Last Name', data: 'LastName', sortable: true },
                { header: 'First Name', data: 'FirstName', sortable: true },
                { header: 'Title', data: 'Title', sortable: true },
                { header: 'Title Of Courtesy', data: 'TitleOfCourtesy', sortable: true },
                { header: 'Birth Date', data: 'BirthDate', sortable: true },
                { header: 'Hire Date', data: 'HireDate', sortable: true },
                { header: 'Postal Code', data: 'PostalCode', sortable: true },
                { header: 'Address', data: 'Address', sortable: true },
                { header: 'City', data: 'City', sortable: true },
                { header: 'Postal Code', data: 'PostalCode', sortable: true },
                { header: 'Country', data: 'Country', sortable: true },
                { header: 'Home Phone', data: 'HomePhone', sortable: true },
                { header: 'Extension Home Page', data: 'Extension', sortable: true },
                {
                    header: 'Picture', data: 'StrPhoto', render: function (data) {
                        var str = "data:image/jpg;base64,"+data;
                        return '<img src="'+str+'" alt="" style="width: 60px"/>';
                    }
                },
                //{ header: 'Photo', data: 'Photo', sortable: true },
                { header: 'Notes', data: 'Notes', sortable: true },
                { header: 'Reports To', data: 'ReportsTo', sortable: true },
                { header: 'User ID', data: 'UserID', sortable: true },
                { header: 'Password', data: 'Password', sortable: true },
                { header: 'Detail', data: 'EmployeeID', sortable: true },
                { header: 'Edit', data: 'EmployeeID', sortable: true },
                { header: 'Delete', data: 'EmployeeID', sortable: true }
            ],
            defaultSortExpression: 'EmployeeID'
        });
    });

    function showModal(data) {
        alert('You click '+data);
    }

    function refresh() {
        gridview.reload();
    }
</script>


