﻿
@{
    ViewBag.Title = "Index";
    ViewBag.ModuleName = "Home";
}

<div class="col-md-12">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Dashboard</h3>
        </div>
        <div class="form-horizontal">
            <div class="box-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-3 control-label" style="text-align: left" for="exampleInputEmail1">Email address 1</label>
                        <div class="col-md-8">
                            <input ID="TextNumeric" class="form-control numeric" placeholder="Enter Number" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" style="text-align: left" for="exampleInputEmail1">Email address</label>
                        <div class="col-md-8">
                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" style="text-align: left" for="exampleInputEmail1">Email address</label>
                        <div class="col-md-8">
                            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

